html {
    box-sizing:border-box;
}

*, *:before, *:after {
    box-sizing:inherit;
}

img {
    max-width: 100%;
}

@font-face {
    font-family: EgyptienneR;
    src: url(../_assets/EgyptienneURW-Regular.ttf);
}

@font-face {
    font-family: EgyptienneB;
    src: url(../_assets/EgyptienneURW-Bold.ttf);
}

@font-face {
    font-family: EgyptienneBO;
    src: url(../_assets/EgyptienneURW-BoldOblique.ttf);
}

@font-face {
    font-family: EgyptienneRO;
    src: url(../_assets/EgyptienneURW-RegularOblique.ttf);
}

@font-face {
    font-family: EgyptienneM;
    src: url(../_assets/EgyptienneURW-Medium.ttf);
}

@font-face {
    font-family: EgyptienneMO;
    src: url(../_assets/EgyptienneURW-MediumOblique.ttf);
}

@font-face {
    font-family: EgyptienneEL;
    src: url(../_assets/EgyptienneURW-ExtraLight.ttf);
}

@font-face {
    font-family: EgyptienneELO;
    src: url(../_assets/EgyptienneURW-ExtraLightOblique.ttf);
}

@font-face {
    font-family: EgyptienneL;
    src: url(../_assets/EgyptienneURW-Light.ttf);
}

@font-face {
    font-family: EgyptienneLO;
    src: url(../_assets/EgyptienneURW-LightOblique.ttf);
}

body {
    background-color:#F2F0D5;

}

h1 {
  text-align: left;
  color: #F21D2F;
  font-weight: bold;
  font-family:EgyptienneB;
  font-size: 60px
}

hr {
  border: none;
    height: 7px;
    color: #A3A68D;
    background-color: #A3A68D;
}


.item1 { grid-area: intro;
         font-family: EgyptienneR;
         color: #260101;
 }

.item2 { grid-area: letters;
         font-weight:bold;
         font-size:px;
         font-family:EgyptienneRO;
         color: #F21D2F;
}

.item3 { grid-area: symbols;
         font-family:EgyptienneRO;
         align-content: center;
         color: #260101;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'intro intro intro letters letters letters'
    'intro intro intro symbols symbols symbols';

  grid-gap: 10px;
  background-color: #F2F0D5;
  padding: 10px;
}

.grid-container > div {
  background-color: #F2F0D5;
  text-align: left;
  padding: 20px 0;
  font-size: 20px;
  grid-template-rows: 1fr;
}

.grid-container2 {
  display:grid;
  grid-template-areas:
  'display display display display '
  'words words words words ' ;


}

.grid-container2 > div {
  background-color: #A3A68D;
  padding: 20px 0;
  height: 325px;
  color: #F21D2F;
}

.item4 {grid-area: display;
        font-family:EgyptienneRO;
        align-content: center;
        text-align: left;
        font-size: 90px;
}

.item5 {grid-area: words;
        font-family: EgyptienneRO;
        color: black;
        text-align:right;
        font-size: 50px;
}

.grid-container3 {
  display: grid;
  grid-template-areas:
    'lorem lorem type type type type'
    'lorem lorem type type type type';


  grid-gap: 10px;
  background-color: #F2F0D5;
  padding: 10px;
}

.grid-container3 > div {
  background-color: #F2F0D5;
  padding: 20px 0;
  font-size: 20px;
}

.item6{grid-area: lorem;
      font-family: EgyptienneR;
      text-align:right;
}

grid-container4 {
  display:grid;
  grid-template-areas:
  'ok1 ok1 ok1 ok1 ok1 ok1'
  'ok2 ok2 ok2 ok2 ok2 ok2'
  'ok3 ok3 ok3 ok3 ok3 ok3'
  'ok5 ok5 ok5 ok5 ok5 ok5'
  'ok6 ok6 ok6 ok6 ok6 ok6'
  'ok7 ok7 ok7 ok7 ok7 ok7'
  'ok8 ok8 ok8 ok8 ok8 ok8'
  'ok9 ok9 ok9 ok9 ok9 ok9'
  'ok10 ok10 ok10 ok10 ok10';


}

.grid-container4 > div {
  padding: 20px 20px;
  font-size: 35px;
  height: 50px;
  color: #F21D2F;

}

.item7 {grid-area: Ok1;
        font-family: EgyptienneEL;
        text-align:left;
}

.item8 {grid-area:ok2;
        font-family: EgyptienneELO;
        text-align: center;
}

.item9 {grid-area:ok3;
        font-family: EgyptienneL;
        text-align:right;
}

.item11 {grid-area:ok5;
         font-family: EgyptienneR;
         text-align:center;
}

.item12{grid-area:ok6;
        font-family: EgyptienneRO;
        text-align:left;
}

.item13 {grid-area:ok7;
         font-family: EgyptienneM;
         text-align:center;
}

.item14 {grid-area:ok8;
         font-family: EgyptienneMO;
         text-align:right;
}

.item15{grid-area:ok9;
        font-family: EgyptienneB;
        text-align: center;
}

.item16 {grid-area:ok10;
         font-family: EgyptienneBO;
         text-align:left;
}

.column {
  float: left;
  width: 100%;
  padding: 25px;
  height:500px;
  background-color:#A3A68D;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  background-color: #black;
}

@media (min-width: 3000px)  {

    .container  {
      position: absolute;
      width: 100%;
      margin-left: auto;
      margin-right: auto;

    }

    @media screen and (max-width: 300px) {
      .column {
        width: 100%;
      }
    }
